:root {
    --primary-color: #17184b;
    --secondary-color: #F16101;
    --tertiary-color: #1E1E1E;
    --background-color: #EFEEE9;
    --font-family-heading: "IBM Plex Mono", monospace;
    --font-family-body: "Open Sans", sans-serif;
    --font-family-third: "PP Supply Mono", monospace;
}

/* @ media queries*/
/* max width*/

body {
    background-color: var(--background-color);
    font-family: var(--font-family-body);
    font-size: 18px;
    max-width: 1500px;
    margin-left: 100xp;
    margin-right: 100px;
}

h1 {
    font-family: var(--font-family-heading);
    font-size: 128px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 0%;
}

h2 {
    font-family: var(--font-family-third);
    color: var(--secondary-color);
    font-size: 48px;
    font-weight: 400;
    }

h3 {
    font-family: var(--font-family-third);
    color: var(--primary-color);
    font-size: 64px;
    font-weight: 400;
    margin: 0%;
}

h4 {
    font-family: var(--font-family-heading);
    color: var(--secondary-color);
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    margin: 0%;
}

header {
    color: var(--primary-color);
    margin-left: 100px;
}

.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation li a {
    text-decoration: none;
    color: transparent;
    display: block;
    position: relative;
    padding-right: 25px;
    
}

.navigation li a::after {
    content: '•';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Breite des Punktes */
    height: 20px; /* Höhe des Punktes */
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 1;
}

.navigation li a:hover::after {
    opacity: 0; /* Punkt ausblenden*/
}

.navigation li a:hover {
    color: var(--primary-color);
    padding-left: 25px; /* Platz für den Text beim Hover */
}

/*introduction*/
#introduction {
    position: relative; /* Relative Positionierung für genaue Platzierung */
    margin-left: 100px;
}

.background-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-left: -100px;
}

.introduction-content {
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    position: absolute;
    top: 70px; /* Abstand vom oberen Rand */
    right: 0px;
    max-width: 800px; /* Maximale Breite der Box */
    z-index: 1; /* Einleitung über Hintergrundbild liegt */
}

.introduction-text {
    
}

/*argument1*/
#argument1 {
    padding-top: 10px;
    margin-left: 100px;
}

.container-argument1-content1 {
    display: flex;
    align-items: center;
}

.image-argument1-content1 img {
    will-change: transform; /* Legt fest, dass das Element eine Transformation erfahren wird */
    transition: transform 3s ease; /* Animationsübergang */
}

.argument1-content1 {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 25px;
    max-width: 800px;
    margin-top: 50px;
}

.argument1-content2 {
    border: 2px solid var(--primary-color);
    padding: 20px;
    border-radius: 25px;
    max-width: 600px; /* Maximale Breite der Box */
    margin-top: 50px;
}

.argument1-content3 {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 25px;
    max-width: 800px;
    margin-top: 50px;
}

.argument1-content4 {
    border: 2px solid var(--primary-color);
    padding: 20px;
    border-radius: 25px;
    max-width: 600px; /* Maximale Breite der Box */
    margin-top: 50px;
}

.argument1-content5 {
    border: 2px solid var(--primary-color);
    padding: 20px;
    border-radius: 25px;
    max-width: 600px; /* Maximale Breite der Box */
    margin-top: 50px;
}

/*sources*/
#sources {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 100px;
    
}

.container {
    max-width: 1200px;
    
}

.source-row {
    display: flex;
    flex-wrap: wrap;
}

.source-column {
    flex: 1;
    padding: 0;
}

.source-column p {
    margin-bottom: 10px;
}